read_and_write/src/main/mule/read_and_write.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54f39273-137f-4c5e-985a-702233893cc7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="ce156faf-8603-4f8b-af23-7b67f541f673" >
		<file:connection workingDir="C:\Users\UMI\Desktop\file" />
	</file:config>
	<flow name="file_read_and_WriteFlow" doc:id="b50676cc-4ddf-4b19-8e20-241ca045c248" >
		<http:listener doc:name="Listener" doc:id="d8ec8f81-b552-4584-a736-baad23478093" config-ref="HTTP_Listener_config" path="read"/>
		<file:read doc:name="Read" doc:id="751a9890-45e8-4774-845f-6dec74ed4f6b" path="C:\Users\UMI\Desktop\file\example.json" config-ref="File_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="a46ad1a1-7abf-4a1b-9d47-454eadf1ae9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
city: {
	(payload)
	
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2af4d2dd-e48b-4c43-b725-858105b79dca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.city]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="a7a54ed3-722e-444d-94f0-f9d5b846d6f7" config-ref="File_Config" path='#["ex" ++ ".csv"]'>
		</file:write>
	
</flow>
	</mule>
